.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px 20px;
  border: 2px solid grey;
  border-radius: 4px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-size: 20px;
}

.input {
  width: 200px;
  height: 30px;

  border: 1px solid rgba(33, 33, 33, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.input:hover {
  border-color: skyblue;
}

button {
  width: 100px;
  height: 30px;
  border: none;
  color: black;
  border: 1px solid rgba(33, 33, 33, 0.3);
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: skyblue;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
