.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-size: 20px;
}

.input {
  width: 200px;
  height: 30px;
  border: 1px solid rgba(33, 33, 33, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.input:hover {
  border-color: skyblue;
}
